# ignora os autosaves
ac-comphist.dat
/auto-save-list
/.python-environments
/cache
*~
\#*\#
# ignora elpa
/elpa

# ignora url
/url


# ignora smex
smex-items
/tutorial
ido*


.mc-lists.el


# ignora dmenu
dmenu-items

# ignora o tutorial
tutorial/
snippets/
.org-id-locations
bookmarks
session*
tramp

recentf
projectile*

*backup*

#ignorar emms - musica
emms/

calc.el

network-security.data

organizator.el


org_files/
transient/
anaconda-mode/
eshell/
straight/
.dap-breakpoints
org-roam.db
nov-places
.lsp-session-v1
